Chameneos-Ref-Base
  ConfigFlags
    --ghc-option=-threaded
    --ghc-option=-rtsopts
    --with-ghc=/home/dave/Research/git/ghc/inplace/bin/ghc-stage2
    --with-ghc-pkg=/home/dave/Research/git/ghc/inplace/bin/ghc-pkg
    --enable-optimization=2
  BuildFlags
  RunFlags
    6000000
    +RTS
    -tghc.stats
    --machine-readable
    -RTS
  RunScript
  RunScriptArgs
Chameneos-Ref-Peak
  ConfigFlags
    --ghc-option=-threaded
    --ghc-option=-rtsopts
    --with-ghc=/home/dave/Research/git/ghc/inplace/bin/ghc-stage2
    --with-ghc-pkg=/home/dave/Research/git/ghc/inplace/bin/ghc-pkg
    --enable-optimization=2
  BuildFlags
  RunFlags
    6000000
    +RTS
    -tghc.stats
    --machine-readable
    -RTS
  RunScript
    /home/dave/dr/bin/drrun
  RunScriptArgs
